:root {
    --bg-card-color: rgb(121, 118, 118);
    --bg-card-orange: rgb(253, 125, 78);
    --bg-card-blue:rgb(32, 142, 252);
    --bg-card-pink:rgb(243, 62, 204);
    --bg-card-green:rgb(125, 250, 208);
  }