.header{
   display: flex;
   flex-direction: row;
   width: 100%;
}
.logo {
    width: 20%;
    height: 100px;
    background-color: coral;
    margin-right: 30px;
    margin-bottom: 30px;
}
.task {
    width: 80%;
    height: 100px;
    background-color: dodgerblue;
}
.content {
    display: flex;
    flex-direction: row;  /*  Sắp xếp các phần tử theo hàng dọc */
    width: 100%;
    height: 100%;
}
.sidebar {
    width: 20%;
    height: 700px;
    margin-right: 30px;
    background-color: aquamarine;
}
.menu {
    display: flex;
    flex-direction: column; /*  Sắp xếp các phần tử theo hàng ngang */
    width: 80%;
    height: 700px;
}
.content-big {
    height: 70%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.content-a 
{
    width: 32%;
    background-color: rgb(243, 62, 204);
}
.content-b 
{
    width: 68%;
    display: flex;
    flex-direction: column;
}
.row 
{
    height: 50%;
    display: flex;
    margin-bottom: 30px;
}
.content-item 
{
    background-color:rgb(121, 118, 118) ;
    width: 25%;
    margin-left: 30px;
}
.bow 
{
    height: 50%;
    display: flex;
}
.content-min {
    height: 30%;
    display: flex;
    flex-direction: row;
}
.content-mini
{
    width: 32%;
    display: flex;
}
.low
{
    width: 50%;
    background-color:rgb(121, 118, 118) ;
}
.law
{
    width: 50%;
    background-color:rgb(121, 118, 118) ;
    margin-left: 30px;
}
.content-minimax
{
    width: 68%;
    display: flex;
}
/* PC */
@media(min-width: 1024px)
{

}
/* Tablet */
@media(min-width:740px) and (max-width: 1023px)
{
    .header {
        flex-direction: column; /* Đưa logo và task xuống hàng */
    }
    .task {
        width: 100%;
        height: 80px;
    }
    .content {
        flex-direction: column; /* Chuyển thành dạng cột */
    }
    .sidebar {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 10px;
        right: 0;
    }
    .menu {
        width: 100%;
        margin-top: 30px;
        display: block;
    }
    .content-big {
        flex-direction: column;
    }
    .content-a {
        width: 100%;
        height: 300px;
    }
    .content-b {
        width: 100%;
        height: 300px;
        margin-top: 30px;
        margin: 0px;
    }
    .content-item {
        width: 48%; 
        margin-left: 1%;
        height: 140px;
        margin-bottom: 30px;
    }
    .row, .bow {
         flex-wrap: wrap; /* Khi trong 1 không gian vượt quá kích thước khối sẽ xuống dòng */
         margin-top: 30px;
    }
    .content-min {
        flex-direction: column;
        width: 100%;
        height: 300px;
        margin-top: 280px;
    }
    .content-mini {
        width: 100%;
        display: flex;
    }
    .low, .law {
        width: 48%;
        margin-left: 1%;
        height: 140px;
    }
    .content-minimax {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 30px;
    } 
}
@media (max-width:740px)
{
    *{
        margin: 0;
        padding: 0;
    }
    .header {
        flex-direction: column; /* Chuyển header từ ngang sang dọc */
        width: 100%;
        height: 150px;
    }
    .logo{
        order: 2;
        width: 100%;
    }
    .task
    {
        order: 1;
        width: 100%;
    }
    .content 
    {
        flex-direction: column;
    }
    .sidebar
    {
        position: absolute;
        height: 60px;
        top: 0;
        right: 0;
        margin-right: 0;
    }
    .menu
    {
        width: 100%;
    }
    .content-big
    {
        flex-direction: column;
        height: auto;
        margin-bottom: 0;
    }
    .content-a 
    {
        width: 100%;
        height: 300px;
    }
    .content-b
    {
        flex-direction: column;
        width: 100%;
        display: block;
    }
    .row,
    .bow
    {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .content-item 
    {
        width: 100%;
        height: 100px;
        margin: 5%;
    }
    .content-min
    {
        flex-direction: column;
    }
    .content-mini
    {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }
    .low,
    .law
    {
        width: 100%;
        height: 100px;
        margin: 5%;
    }
    .content-minimax
    {
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }
}